<div id="pd_widget_footerd{{ id }}" data-filters="lpu=43907" class="pd_widget_footer " data-doctor="{{ id }}">
<div class="pd_left">
    
    <a target="_blank" class="pd_doctor_name" href="https://prodoctorov.ru/krasnodar/vrach/{{ id }}-{{ translit }}/">{{ page.name }}</a>
    
</div>
<div class="pd_middle">
    <div id="pd_widget_footer_content_middled{{ id }}"></div>
</div>
<div class="pd_right">
    <div id="pd_widget_footer_content_rightd{{ id }}"></div>
</div>
</div>
<div class="pd_powered_by">
powered by <a target="_blank" href="https://prodoctorov.ru/"><img class='pd_logo' src="https://prodoctorov.ru/static/logo_widget.png"></a>
</div>
<script src="https://prodoctorov.ru/static/js/widget_footer.js?v3"></script>
