{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<div class="container-fluid">

       <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="parallax">
                <div class="container">
                 <h1 class="page-header">{{ self.title }}
                </h1>
                    <h3 style="text-align: center">{% if page.date %}{{ page.date }}{% endif %}</h3>
                     <ol class="breadcrumb">
                    <li><a href="/">Главная</a>
                    </li>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                         <li><a href="/news/">Все акции</a>
                    </li>
                         <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <li class="active">{{ self.title }}</li>
                </ol>
                </div>
            </div>

        </div>
        <!-- /.row -->

<div class="row">
            <div class=" container news-post">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->
                <!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> {{ page.date }}</p>
                {% image page.image fill-1200x500 as img%}
                <!-- Preview Image -->
                <img class="img-responsive" src="{{ img.url }}" alt="">

                <hr>

                <!-- Post Content -->
                {{ page.body|richtext }}
                <a class="btn btn-hero" href="{{ page.get_parent.url }}">Назад к акциям</a>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Categories Well -->
            {% if page.related_pages.all %}
                <div class="well">
                    <h4>Акции</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                {% for news in page.related_pages.all %}
                                <li><a href="{{ news.link }}">{{ news.name }}</a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            {% endif %}
                <!-- Side Widget Well -->
            {% if page.sidebar %}
                <div class="well">
                  {{ page.sidebar|truncatewords_html:30|richtext }}
                </div>
            {% endif %}
            </div>
</div>
        </div>

</div>

{% endblock %}
