<div class="modal fade" id="agreementModal" tabindex="-1" role="dialog" aria-labelledby="agreementModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="agreementModalLabel">Соглашение на обработку персональных данных</h4>
      </div>
      <div class="modal-body">
           <p>1. Принимая условия настоящего Соглашения, пользователь даёт своё согласие ООО&nbsp;«РОСТ» (далее — Компания, юридический адрес: Россия, Краснодар, проспект писателя
Знаменского, 1;3) на сбор, хранение и обработку своих персональных данных, указанных путём заполнения веб-форм на сайте rost23.ru (далее — Сайт). Под персональными данными понимается любая информация, относящаяся к прямо или косвенно определённому или определяемому физическому лицу (гражданину).</p>
<p>2. Пользователь также даёт своё согласие на обработку и трансграничную передачу персональных данных подрядной организации Компании для отправки маркетинговых и информационных рассылок.</p>
<p>3. Основанием для обработки персональных данных являются: статья 24&nbsp;Конституции&nbsp;РФ и статья 6&nbsp;Федерального закона №&nbsp;152-ФЗ «О персональных данных» с дополнениями и изменениями.</p>
<p>4. В ходе обработки с персональными данными будут совершены следующие операции: сбор, хранение, уточнение, передача, блокирование, удаление, уничтожение — все упомянутые действия только в целях, указанных в п.&nbsp;2 настоящего Соглашения.</p>
<p>5. Компания обязуется не передавать полученную от Пользователя информацию третьим лицам. Не считается нарушением предоставление персональных данных третьим лицам, действующим на основании договора с Компанией, для исполнения обязательств перед Пользователем и только в рамках настоящего Соглашения.</p>
<p>6. Персональные данные хранятся и обрабатываются до завершения всех необходимых процедур либо до ликвидации Компании.</p>
<p>7. Согласие может быть отозвано Пользователем или его представителем путём направления письменного заявления в Компанию по электронному адресу 23.rost@mail.ru. Пользователь также может отказаться от получения электронных сообщений, используя ссылку «Отписаться», расположенную в конце каждого письма.</p>
<p>8. Пользователь принимает политику использования файлов cookies, используемую на Сайте, и даёт согласие на получение информации об IP-адресе и иных сведений о его активности на Сайте. Данная информация не используется для установления личности Пользователя.</p>
<p>9. Компания при обработке персональных данных принимает необходимые и достаточные организационные и технические меры для защиты персональных данных от неправомерного доступа к ним, а также от иных неправомерных действий в отношении персональных данных.</p>
      </div>
    </div>
  </div>
</div>