<div class="modal fade" id="callBackModal" tabindex="-1" role="dialog" aria-labelledby="callBackModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close3">&times;</button>
        <i class="fa fa-phone"></i>
        <h4 class="modal-title" id="callBackModalLabel" data-temp="1">Заказать звонок</h4>
      </div>

      <div class="modal-body">
          
        <form class="form" role="form" action="{% url 'headercall' %}" method="post" id="feedback3">
            {% csrf_token %}
            <div class="col-lg-6 col-sm-12" style="padding-right: 4px">
            <div class="control-group form-group">
            <label class="sr-only" for="fname3">Имя</label>
            {{ form2.name }}
            </div>
            </div>
            <div class="col-lg-6 col-sm-12" style="padding-left: 4px">
            <div class="control-group form-group">
            <label class="sr-only" for="fphone3">Телефон</label>
            {{ form2.phone }}
            </div>
            </div>
            <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test" checked="" id="check_feed3">
                    <span class="checkbox-custom"></span>
                    <span class="label"><a href="#" data-toggle="modal" data-target="#agreementModal">Согласие на обработку персональных данных</a></span>
                </label>

            <button type="submit" class="btn btn-primary" id="subb3">Записаться на консультацию <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </form>
            <p style="color:red; text-align: center" id="err3"></p>
        <p style="color:dodgerblue; text-align: center; font-size: x-large" id="confirm3"></p>
      </div>
    </div>
  </div>
</div>

                    <script>

 function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
 function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}


    $(function(){

       $('#subb3').click(function(event){

           event.preventDefault();
           var csrftoken = getCookie('csrftoken');

           var $feedback_form = $('#feedback3');

           var namecb1 = $('#fname3').val();
           var phonecb1 = $('#fphone3').val();
           var chbox1 = document.getElementById('check_feed3');

           var flag = true;
           if(!chbox1.checked){

               $('#err3').append('Необходимо согласие на обработку персональных данных<br>');
               flag = false;
           }
           if(namecb1 ===''){

               $('#err3').append('Необходимо заполнить поле Имя<br>');
               flag = false;
           }
           if(phonecb1 ===''){
                         event.preventDefault();
               $('#err3').append('Необходимо заполнить поле Телефон<br>');
               flag = false;
           }
               if(flag){

           $.ajax({
               beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
            method: 'post',
            url: $feedback_form.attr('action'),
            data: $feedback_form.serialize(),

        });
        $('#close3').click();
       }
       });
    });
</script>
              </div>
            </div>

          </div>
        </div>